/* Prates alterações */


h1, p, a{
    color: white;
}


body{
    background-image: linear-gradient(to right, blue, red);
    margin: 0px;
}



#sideBar h2{
    text-align: center;
}

h1{
    text-align: center;
    margin-bottom: 50px;
}

#classePrincipal{
    margin-top: 0px;
}

.grupo{
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.grupo > div{
    flex: 1 1 200px;
    margin: 0 30px;
}


.galeria{
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
}

.galeria > div{
    flex: 1 1 200px;
    margin: 0 30px;
    margin-bottom: 10px;
}

img{
    max-width: 100%;
    display: block;
    border: solid black;
    border-radius: 30px;
}
