#classePrincipal{
    height: 170vh;
    
   


}
h1{
    text-align: center;
    font-size: 40px;
    font-family: "century gothic";
    color: #ffffcc;
    text-shadow: 
        0 0 5px #ffffff, 
       0 0 55px white, 
       0 0 70px white;

}

h2{
    text-align: center;
    font-size: 30px;
    font-family: "century gothic";
    color: #ffffcc;
    text-shadow: 0 0 5px #ffffff, 0 0 55px white, 0 0 70px white;
}
p{
    font-size: 30px;
    color: white;
}

#TUDOSOBRE{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5vw;
    margin: 5vw;
    
}

#text1{
    background-color: black;
    min-height: 30vh;
    border-radius: 20px;
}
#text2{
    background-color: black;
    min-height: 30vh;
    border-radius: 20px;
}
#text3{
    background-color: black;
    min-height: 30vh;
    border-radius: 20px;
}
#text4{
   
    margin: auto;
    background-color: black;
    min-height: 30vh;
    border-radius: 20px;
}

@media screen and (max-width: 800px){
    #TUDOSOBRE{
        display: flex;
        flex-direction: column;
    }
    #footer{
        position: fixed;
        bottom: 0;
    }
     
    
    
}
