#classePrincipal{
    height: 170vh;
    
   


}
h1{
    text-align: center;
    font-size: 40px;
    font-family: "century gothic";
    color: #ffffcc;
    text-shadow: 0 0 5px #ffffff, 
    0 0 10px #ffffff,
     0 0 20px #ffffff,
      0 0 30px #ffffff, 
      0 0 40px #ffffff,
       0 0 55px #ff0000, 
       0 0 70px #0000ff;

}

h2{
    text-align: center;
    font-size: 30px;
    font-family: "century gothic";
    color: #ffffcc;
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 30px #ffffff, 0 0 40px #ffffff, 0 0 55px #ff0000, 0 0 70px #0000ff;
}
p{
    font-size: 30px;
    color: white;
}

#TUDOSOBRE{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5vw;
    margin: 5vw;
}

#text1{
    background-color: black;
    min-height: 30vh;
    border-radius: 20px;
}
#text2{
    background-color: black;
    min-height: 30vh;
    border-radius: 20px;
}
#text3{
    background-color: black;
    min-height: 30vh;
    border-radius: 20px;
}
#text4{
   
    margin: auto;
    background-color: black;
    min-height: 30vh;
    border-radius: 20px;
}
